@import "tailwindcss";
@plugin "daisyui" {
    themes: caramellatte --default, coffee --prefersdark;
    root: ":root";
    prefix: ;
    logs: true;
}
@plugin "daisyui/theme" {
    name: "caramellatte";
    --color-neutral: oklch(54.367% 0.037 51.902);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    z-index: 0;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    z-index: 1;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer utilities {
    .outline-black {
        outline: 2px dotted black;
        outline-offset: 2px;
    }

    .outline-white {
        outline: 2px dotted white;
        outline-offset: 2px;
    }
}
